#popupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: 100; /* appear above 100 other fixed elements */
    background: rgba(0,0,0,0.25);
}

.popup {
    display: none;
    background: #fff;
    position: fixed;
    left: 50%;
    border-radius: 5px;
    transition: top 0.08s;
    /* Defaults */
    width: 40%;
    top: 20%;
    padding: 20px;
}
