body {
    font-family: sans-serif;
    margin: auto;
    width: 80%;
}

header {
    margin-top: 40px;
}

.topbar {
    background-color: #dbdbdb;
    height: 40px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 1000;
}

.menu {
    margin: 0px 10%;
    vertical-align: middle;
}

.menu-item {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    color: #000;
    text-shadow: 1px 1px #f0f0f0;
}

a.menu-item {
    text-decoration: none;
}

.menu-item:hover {
    background-color: #cbcbcb;
}

.menu-right {
    float: right;
    margin-right: 10px;
}

.user-welcome {
    padding: 10px;
    display: inline-block;
}

button, input[type="submit"] {
    text-shadow: 1px 1px #3597bf;
    border: 1px solid #55c0ec;
    border-radius: 5px;
    background-color: #77d0ec;
    padding: 5px 10px;
    line-height: 31px;
	cursor: pointer;
}
button:hover, input[type="submit"]:hover {
    border-color: #111;
    background-color: #55c0ec;
}

button[disabled], input[type="submit"][disabled] {
    cursor: not-allowed;
    background: lightgrey;
    border-color: black;
    text-shadow: none;
}

#messageArea {
    margin: 50px 0px 0px;
}

#messageArea .message {
    border-radius: 5px;
    box-shadow: 0 1px 1px #fff inset;
    padding: 10px;
    margin: 5px 0px;
    display: table; /* Yes it's weird to use table but it works */
}

#body-content {
}

.message.conf {
    background: #ebf8a4;
    border: 1px solid #a2d246;
}

.message.error {
    background: pink;
    border: 1px solid maroon;
}

.message.warn {
    background: orange;
    border: 1px solid darkorange;
}

.message.info {
    background: lightblue;
    border: 1px solid blue;
}
