{% title=Bill Splitter %}

{# head=
    <script src="{% url /js/dashboard.js %}"></script>
#}

{# body=
    <h2>Bill Splitter Dashboard</h2>
    <h3>Pending Bills</h3>
    <table id="pending">
        <thead>
            <tr><th>Description</th><th>Payable To</th><th>Total</th><th>You've paid</th><th>You owe</th><th>Action</th></tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h3>Confirm Payments from members</h3>
    <table id="confTable">
        <thead>
            <tr><th>Bill</th><th>User</th><th>Amount</th><th>Action</th></tr>
        </thead>
        <tbody>
        </tbody>
    </table>

#}
{% include layout_auth %}
