{% title= User Settings %}
{# head=
    <link href="{% url /css/auth.css %}" rel="stylesheet" type="text/css">
    <script src="{% url /js/auth.js %}"></script>
#}
{# body=
    <h2>Update your details</h2>
    <form action="{% url /settings/details %}" method="POST" id="detailsForm">
        <label>Your Name</label>
        <div class="error" id="nameError">{% =error.name %}</div>
        <input type="text" value="{% =user %}" name="name">
        <label>Your Email</label>
        <div class="error" id="emailError">{% =error.email %}</div>
        <input type="email" value="{% =email %}" name="email">
        <input type="submit" value="Update">
    </form>

    <h3>Change password</h3>
    <form action="{% url /settings/password %}" method="POST" id="passwordForm">
        <label>Old Password</label>
        <div class="error" id="oldPasswordError">{% =error.oldPassword %}</div>
        <input type="password" name="oldpass">
        <label>New Password</label>
        <div class="error" id="passwordError">{% =error.password %}</div>
        <input type="password" name="password">
        <input type="submit" value="Change">
    </form>
#}
{% include layout_auth %}
