{% title= User Settings %}
{# head=
    <link href="{% url /css/auth.css %}" rel="stylesheet" type="text/css">
    <script src="{% url /js/auth.js %}"></script>
#}
{# body=
    <h2>Update your details</h2>
    <form action="{% url /settings/details %}" method="POST" id="detailsForm">
        <label>Your Name</label>
        <div class="error" id="nameError">{% =error.name %}</div>
        <input type="text" value="{% =user %}" name="name">
        <label>Your Email</label>
        <div class="error" id="emailError">{% =error.email %}</div>
        <input type="email" value="{% =email %}" name="email">

        <h4>Email Notifications</h4>
        <div><input type="checkbox" id="nReqJoin" name="reqJoin" {% =notification.reqJoin %}><label for="nReqJoin">When a user requests to join my household (only for owner)</label></div>
        <div><input type="checkbox" id="nNewBill" name="newBill" {% =notification.newBill %}><label for="nNewBill">When new bill is added</label></div>
        <div><input type="checkbox" id="nPmtMade" name="pmtMade" {% =notification.pmtMade %}><label for="nPmtMade">When a housemate makes a payment to my bill</label></div>
        <div><input type="checkbox" id="nPmtCncl" name="pmtCncl" {% =notification.pmtCncl %}><label for="nPmtCncl">When a housemate cancelled a payment to my bill</label></div>
        <div><input type="checkbox" id="nPmtAcpt" name="pmtAcpt" {% =notification.pmtAcpt %}><label for="nPmtAcpt">When the collector of a bill accepts my payment</label></div>
        <div><input type="checkbox" id="nPmtDeny" name="pmtDeny" {% =notification.pmtDeny %}><label for="nPmtDeny">When the collector of a bill denies my payment</label></div>
        <div><input type="checkbox" id="nBillCnf" name="billCnf" {% =notification.billCnf %}><label for="nBillCnf">When a bill that I paid part of is confirmed to have been paid</label></div>
        <input type="submit" value="Update">
    </form>

    <h3>Change password</h3>
    <form action="{% url /settings/password %}" method="POST" id="passwordForm">
        <label>Old Password</label>
        <div class="error" id="oldPasswordError">{% =error.oldPassword %}</div>
        <input type="password" name="oldpass">
        <label>New Password</label>
        <div class="error" id="passwordError">{% =error.password %}</div>
        <input type="password" name="password">
        <input type="submit" value="Change">
    </form>
#}
{% include layout_auth %}
