{# head=
    <script src="{% url /js/notifications.js %}"></script>
    <script src="{% url /js/chat_widget.js %}"></script>
    {% =head|html %}
#}
{# html.navbar=
    <a class="menu-item" href="{% url /household %}">Household</a>
    <a class="menu-item" href="{% url /bill/active %}">Active Bills</a>
    <a class="menu-item" href="{% url /bill/history %}">Bill History</a>
    <a class="menu-item" href="{% url /bill/setup %}">Setup Bill</a>
    <a class="menu-item" href="{% url /payment/history %}">Payment History</a>
#}
{# html.navbar_right=
    <div class="user-welcome">Welcome, {% =user %}</div>
    <a class="menu-item" href="{% url /settings %}">Settings</a>
    <a class="menu-item" href="{% url /auth/logout %}">Logout</a>
#}

{% include layout_global %}
